.volume-slider {
  width: 100%;
  height: 6px;
  border-radius: 5px;  
  background: #5c5c5c;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.volume-slider:hover {
  opacity: 1; 
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.volume-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #2d3564;
  cursor: pointer;
}

.tab-contents {
  background-color: rgb(44, 44, 44);
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
}

.section-name {
  color: #b3b3b3;
}