.container {
  width: 100%;
  height: 50px;
  background-color: #5d5d5d;
  float: top;
  flex-flow: row;
}

.menu-items {
  list-style-type: none;
  padding: 0;
}

.menu-items th {
  padding: 15px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  text-align: left;
}

.menu-items th:hover {
  color: #fff;
  text-shadow:
    0 0 10px #fff,
    0 0 20px #6c83ed,
    0 0 30px #5e72cc,
    0 0 40px #5264b5,
    0 0 50px #49599f;
  animation: neon-glow 1.5s ease-in-out infinite alternate;
}